{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
        <h3 class="text-center">Available Course Materials</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course Code</th>
                <th scope="col">Title</th>
                <th scope="col">Download</th>
            </tr>
            </thead>
            <tbody>
            {% for material in materials %}
            <tr>
                <th scope="row">{{ material.id }}</th>
                <td>{{ material.course_code }}</td>
                <td>{{ material.title }}</td>
                <td><a class='btn btn-primary' href="#">Download</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</main>

{% endblock content %}
